<div>
  <h1>About TC</h1>
<br/>
  Hello! For those of you who don't know who I am, my name is Daniel "LuckyD" Min Lehmann. I'm currently the lead Tournament Organizer for the Massachusetts venue Game Underground, as well as the head TO for the tournament series Game.Underground.Tournament.Series (GUTS).
<br/><br/>
  I've been an active member of the FGC since 2008, running weekly/monthly tournaments for over seven years. How time flies! My passion lies in growing and maintaining our scene in whatever way I can. If you can't tell, I love fighting games! They've become a huge part of my life and something that I hold very close to my heart. But honestly, getting better at fighting games comes second to why I think the FGC is great. It's the interaction with the people! I've met so many amazing friends through the FGC and I wouldn't replace my second family for anything in the world.
<br/><br/>
  Because of this, I've decided to go "All In" on my dream of making the FGC my full time job, and am asking for your help! My goal is to continue to grow the FGC in MA and introduce this awesome community to as many new and old players as I can.
<br/><br/>
  The Funding of this project will be used for the following start up materials:
    <ul>
      <li>10 Ben Q monitors</li>
      <li>10 Playstation 4's</li>
      <li>10 sets of speakers </li>
      <li>Library of Fighting games per system</li>
    </ul>
<br/>
  With 8 setups fully furnished, I'll have the ability to supply every venue in MA with the setups necessary to not only function but flourish.
  “But Dan, all the venues have the community provide setups, is this needed?”
  YESSSSSSSS. At the moment, the community provides all setups to events. Here are the issues with this:
  <ul>
    <li>Lack of setups means obviously lack of games.</li>
    <li>Lack of setups means lack of CASUALS. During tournaments, all casuals are forced to stop since they’re all being used up for tournament, completely deterring people who just wish to casually get better from going to these events.</li>
    <li>The stress of gathering and bringing setups for the event runners and players is draining. Added unneeded stress to TOs can hamper their ability to run the event on time. Pressure on players to bring setups in order for the event to run at all is unfair and can even prevent players from wanting to attend events as well.</li>
  </ul>
<br/>
  So you're saying that you're going to help other venues outside of GU?
<br/>
  YESSS! I plan to help EVERY venue. My goal is to be at an event 6 days a week! Here is the following criteria of my day to day:
  <ul>
    <li>
      During the day, go to local areas of venues with ground marketing. Contacting groups and generating interest for local players to come out and experience the FGC
    </li>
    <li>
      Provide 8 WORKING FULL set ups for each venue every night they hold their events.
    </li>
    <li>
      Help TO / RUN the event in any capacity the tournament organizer wishes! Whether that's running brackets, teaching new players, being my usual hype self, etc. I just want to help make each event great!
    </li>
  </ul>
</div>
