<h1>About TC</h1>
<p>
  Hello! For those of you who don't know who I am, my name is Daniel "LuckyD" Min Lehmann. I'm currently the lead Tournament Organizer for the Massachusetts venue Game Underground, as well as the head TO for the tournament series Game.Underground.Tournament.Series (GUTS).
</p>
<p>
  I've been an active member of the FGC since 2008, running weekly/monthly tournaments for over seven years. How time flies! My passion lies in growing and maintaining our scene in whatever way I can. If you can't tell, I love fighting games! They've become a huge part of my life and something that I hold very close to my heart. But honestly, getting better at fighting games comes second to why I think the FGC is great. It's the interaction with the people! I've met so many amazing friends through the FGC and I wouldn't replace my second family for anything in the world.
</p>
<p>
  Because of this, I've decided to go "All In" on my dream of making the FGC my full time job, and am asking for your help! My goal is to continue to grow the FGC in MA and introduce this awesome community to as many new and old players as I can.
</p>
<p>
The Funding of this project will be used for the following start up materials:
  <li>10 Ben Q monitors</li>
  <li>10 Playstation 4's</li>
  <li>10 sets of speakers </li>
  <li>Library of Fighting games per system</li>
</p>
