@import '../../styles';

h4, h5 {
  margin: 0;
}

.btn-primary {
  background-color: #c72732;
  border: none;
  margin-top: 20px;
}

.btn-primary:hover,
.open>.dropdown-toggle.btn-primary:hover,
.open>.dropdown-toggle.btn-primary:focus {
  background-color: #ff0000;
}

.newlines {
  white-space: pre-wrap;
}

.events {
  color: #c72732;
  margin-top: 20px;
  margin-left: 10px;
  padding: 0;
}

.row-container {
  display: inline-flex;
  height: 200px;
  margin: 10px;
  width: 100%;
}

.venue-img {
  margin: 10px;
  vertical-align: middle;
}

@media handheld and (max-width: $mobile-screen), screen and (max-width: $small-screen) {
  h4 {
    font-size: 1.4em;
  }

  .events {
    font-size: 1.2em;
  }

  .row-container {
    display: block;
    padding: 0;
  }

  .venue-img {
    display: block;
    opacity: .2;
    position: absolute;
  }
}

@media (min-width: $small-screen) {
  .btn-group.btn-filter {
    float: right;
  }
}
