h4, h5 {
  margin: 0;
}

.btn-primary {
  background-color: #c72732;
  border: none;
  margin-top: 20px;
}

.btn-primary:hover,
.open>.dropdown-toggle.btn-primary:hover,
.open>.dropdown-toggle.btn-primary:focus {
  background-color: #ff0000;
}

.newlines {
    white-space: pre-wrap;
}

.events {
  color: #c72732;
  margin-top: 20px;
  padding: 0;
}
