<h2>Contact</h2>
<div class="container">
  <img src="../../assets/dan-exit.jpg">
  <div class="contact-info">
    <span>Interested in contacting Traveling Controller? Shoot me an email or visit us on Facebook!</span><br/><br/>
    <span class="contact-detail">
      <i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:luckydaniel87@gmail.com">luckydaniel87@gmail.com</a>
    </span><br/>
    <span class="contact-detail">
      <i class="fa fa-facebook-square" aria-hidden="true"></i><a  href="https://www.facebook.com/groups/xmfcx" target="_blank">MFC</a>
    </span><br/>
    <span class="contact-detail">
      <i class="fa fa-facebook-square" aria-hidden="true"></i><a href="https://www.facebook.com/profile.php?id=9124545" target="_blank">LuckyD</a>
    </span>
  </div>
</div>
