@import '../../styles';

.contact-info {
  font-size: 1.5em;
  margin: auto;
  margin-left: 30px;
}

.contact-detail:hover {
  color: $tc-black;
  cursor: pointer;
}

.container {
  display: inline-flex;
}

.fa {
  margin: 10px;
}

@media screen and (max-width: $small-screen), screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .contact-info {
    margin-left: 0;
  }

  .container {
    display: block;
  }

  img {
    width: 100%;
  }
}
