@import '../styles';

body {
  background-color: $black;
}

.navbar {
  background-color: #333c48;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-default {
  border-color: #333c48;
}

.navbar-nav>li {
  color: $white;
  font-size: 1.5em;
  font-weight: bold;
  padding: 15px;

  @media (max-width: $small-screen) {
    font-size: 1.2em;
    padding: 0;

    a {
      text-align: center;
    }
  }
}

@media (max-width: $small-screen) {
  .tc-logo-img {
    margin-bottom: 50px;
    margin-top: 50px;
  }
}
