body {
  background-color: #000;
}

.navbar {
  background-color: #333c48;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-default {
  border-color: #333c48;
}

.navbar-nav>li {
  color: #fff;
  font-size: 16pt;
  font-weight: bold;
  padding: 15px;
}
